* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: #34515e;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

hr {
  margin: 0px;
}

#title {
  color: #ffc107;
  font-size: 2rem;
  align-self: center;
  text-transform: uppercase;
}

#container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid white;
}

table {
  width: 50vw;
  height: 100%;
  border: 1px solid white;
  color: white;
}

th,
tr,
td {
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}

button {
  width: 90px;
  height: 30px;
}

#sum {
  color: white;
}